<div class=" mt-5">
  <div class="w-full max-w-screen">
    <div class="px-8 pt-6 pb-6">
      <div class="flex flex-row justify-between">
        <h2 style="font-family: 'DM Serif Display'; text-shadow: 0px 0px 30px black" class="text-center justify-center text-3xl text-yellow-400 mb-2">Rooms</h2>
        <div>
          <button data-modal-target="newItemModal" data-modal-toggle="newItemModal"
                  class="text-blue-800 bg-yellow-400 hover:bg-yellow-500 focus:ring-0
                 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 text-center h-full"
                  type="button">Create new room</button>
        </div>
      </div>
      <hr style="border: 2px solid rgb(227 160 8); border-radius: 5px; box-shadow: black 0px 0px 20px 0px" class="mt-2">
    </div>
    <div id="newItemModal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-lg max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">
              New Room
            </h3>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="newItemModal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div >
            <form [formGroup]="roomForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
              <div class="mx-5 my-2">
                <div class="mb-6">
                  <label for="roomName" class="block mb-2 text-sm font-medium text-gray-900">Room name: </label>
                  <input type="text"
                         id="roomName"
                         class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                         formControlName="roomName"
                         required
                  >
                  <div *ngIf="roomName.invalid && (roomName.dirty || roomName.touched)">
                    <div *ngIf="roomName.errors?.['required']">
                      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium">Enter room name!!</span> How exactly are you supposed to remember which room is that?
                      </div>
                    </div>
                  <div *ngIf="roomName.errors?.['minlength']">
                      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium">Name too short!!</span> Don't be so cryptic now?
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-6">
                  <label for="roomDescription" class="block mb-2 text-sm font-medium text-gray-900">Room description: </label>
                  <input type="text"
                         id="roomDescription"
                         class=" mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                         formControlName="roomDescription"
                         required
                  >
                  <div *ngIf="roomDescription.invalid && (roomDescription.dirty || roomDescription.touched)">
                    <div *ngIf="roomDescription.errors?.['required']">
                      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium">Enter room description!!</span> Trust me you'll thank me later
                      </div>
                    </div>
                  </div>
                </div>

                <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                  Enter room name and its description and I'll take care of the rest
                </div>


                <!--nie chce rozmawiac o tej abominacji-->
                <button *ngIf="!roomForm.invalid"
                  type="submit"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-4 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                >Save</button>

                <button *ngIf="roomForm.invalid"
                  type="button"
                  class="text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-4"
                  disabled
                >Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
