<div class=" bg-blue-800 my-5 mx-5 drop-shadow-2xl rounded-2xl">
  <div class="flex flex-row justify-between items-center h-20 ml-5">
    <h2  class="text-3xl font-bold text-yellow-500 ">Rooms:</h2>
    <button class="text-blue-800 bg-yellow-400 hover:bg-yellow-500 focus:ring-0
                 focus:outline-none focus:ring-blue-300 font-bold rounded-3xl text-sm px-5 text-center h-10 mr-5"
            type="button"
            (click)="ngxM.getModal('newRoomModal').open()"
    >Create new room</button>
  </div>
</div>

<ngx-smart-modal #newRoomModal identifier="newRoomModal">
  <div>
    <h3 class="text-xl font-medium text-black">
      New Room
    </h3>
  </div>

  <form [formGroup]="roomForm" (ngSubmit)="onSubmit()" #formDir="ngForm">
    <div class="mx-5 my-2">
      <div class="mb-6">
        <label for="roomName" class="block mb-2 text-sm font-medium text-gray-900">Room name: </label>
        <input type="text"
               id="roomName"
               class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
               formControlName="roomName"
               required
        >
        <div *ngIf="roomName.invalid && (roomName.dirty || roomName.touched)">
          <div *ngIf="roomName.errors?.['required']">
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 border" role="alert">
              <span class="font-medium">Enter room name!!</span> How exactly are you supposed to remember which room is that?
            </div>
          </div>
          <div *ngIf="roomName.errors?.['minlength']">
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 border" role="alert">
              <span class="font-medium">Name too short!!</span> Don't be so cryptic now?
            </div>
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label for="roomDescription" class="block mb-2 text-sm font-medium text-gray-900">Room description: </label>
        <input type="text"
               id="roomDescription"
               class=" mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
               formControlName="roomDescription"
               required
        >
        <div *ngIf="roomDescription.invalid && (roomDescription.dirty || roomDescription.touched)">
          <div *ngIf="roomDescription.errors?.['required']">
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 border" role="alert">
              <span class="font-medium">Enter room description!!</span> Trust me you'll thank me later
            </div>
          </div>
        </div>
      </div>

      <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 border" role="alert">
        Enter room name and its description and I'll take care of the rest
      </div>


      <!--nie chce rozmawiac o tej abominacji-->
      <button *ngIf="!roomForm.invalid"
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-4 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Save</button>

      <button *ngIf="roomForm.invalid"
              type="button"
              class="text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-4"
              disabled
      >Save</button>
    </div>
  </form>
</ngx-smart-modal>
