<div class="relative min-h-96 overflow-y-auto drop-shadow-2xl rounded-xl">
  <table class="w-full text-sm text-left text-yellow-400">
    <thead class="text-xs text-yellow-400 uppercase bg-blue-800">
    <tr>
      <th scope="col" class="px-6 py-3"></th>
      <th scope="col" class="px-6 py-3">
        Item Name
      </th>
      <th scope="col" class="px-6 py-3">
        Item Description
      </th>
      <th scope="col" class="px-6 py-3">
        Item Quantity
      </th>
      <th class="px-6 py-3"></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of items; let i = index">
      <tr class="border-yellow-400 bg-blue-800">
        <td class="px-6 py-4">{{ i + 1 }}</td>
        <td class="px-6 py-4">{{ item.itemName }}</td>
        <td class="px-6 py-4">{{ item.itemDescription }}</td>
        <td class="px-6 py-4">{{ item.itemQuantity }}</td>
        <td class="px-6 py-4">
          <img class="w-4 h-4" src="assets/icons/icons8-trash.svg"/>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
